demo-rag/RAG_Ingest.json
{
  "name": "RAG - Ingest 👩‍🎓",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        60,
        -120
      ],
      "id": "c76d6120-4efb-471c-9a8b-342500bcac5f",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        720,
        -120
      ],
      "id": "71618988-a054-487a-9f62-f912081e7791",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "HR0VQhHlh2nl1ik1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "ingestedOn",
                "value": "={{ $now.format('yyyy-MM-dd') }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        40
      ],
      "id": "3dbcc466-bd1b-4eff-8009-ff8ef93fe48a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 4096,
        "chunkOverlap": 256,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        180
      ],
      "id": "bfbf60b1-5d2e-40ce-98b7-081b64a25c50",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/raonigabriel/easy-n8n/refs/heads/master/demo-rag/edital_de_abertura_n_102_1672798.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -120
      ],
      "id": "2d16823e-af5b-487d-91a2-1c8216ad2ae1",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "options": {
          "stripNewLines": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        600,
        100
      ],
      "id": "07ceb9b9-ae10-44ea-9fae-b4b9a9117499",
      "name": "text-embeddings-3-small",
      "credentials": {
        "openAiApi": {
          "id": "x8DE0H9zkYq76OXE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DROP TABLE IF EXISTS n8n_vectors",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        -120
      ],
      "id": "8bcdad3d-1442-44d2-93f9-d2515c02bbb7",
      "name": "Drop Table",
      "credentials": {
        "postgres": {
          "id": "HR0VQhHlh2nl1ik1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Simple RAG (naive)\n\n* **Ingest**\n* Agent\n\nhttps://github.com/raonigabriel/easy-n8n/tree/master/demo-rag",
        "height": 200,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        80
      ],
      "typeVersion": 1,
      "id": "64ebc8a7-07a8-4f15-af8b-826a894f667a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.binary.data.mimeType = 'application/pdf'\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -120
      ],
      "id": "874478aa-0a88-41ca-8080-02dc961319f0",
      "name": "Fix MimeType"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Drop Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Fix MimeType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "text-embeddings-3-small": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Drop Table": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix MimeType": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ea79ecd-c87b-4119-b68a-d51813d70ab1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7e0fec4b281e56ef458b63cb966ca83a6460f0748605c50e4bd1bf0734d18030"
  },
  "id": "h8JNig91P4svO9ek",
  "tags": []
}